.blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
    margin-top: 15px;
}
.blueimp-gallery-controls > .description {
    display: block;
}

.core{
    width: 70%;
    margin: auto;
}

img{
    margin: 5px;
}

body{
    background-color: rgb(217, 217, 217);
}

.search{
    width: 50%;
    margin: 10px auto 10px 15%;
    min-width: 300px;
}